/* CSS */
.featuresSection {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #fff;
}

.featuresHeading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.orange {
  color: #ec6608;
}

.subFeaturesHeading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #111;
}

.featureBox {
  background: #fff;
  border-radius: 16px;
  padding: 2rem 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  text-align: center;
}

.featureBox:hover {
  transform: translateY(-5px);
}

.featureIcon {
  margin-bottom: 1rem;
}

.featureBox p {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ec6608;
}
